@font-face {
    font-family: gilroy;
    src: url('fonts/Gilroy-Regular.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%; 
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0px 40px;
}
#nav2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 17px;
    font-weight: 600;
    border: 1.5px solid black;
    padding: 4px 8px;
    border-radius: 40px;
}
#nav i{
    font-size: 16px;
    font-weight: 600;
    border: 1.5px solid black;
    padding: 4px 8px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size:22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 40px;
    border: 1.5px solid black;
    font-size: 17px;
    font-weight: 600;
}
#btn2{
    border: none;
    color: white;
    background-color: orangered;
}
#mtext{
    font-size: 170px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 450px;
    width: 400px;
    object-fit: cover;
    object-position:center ;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px; 
    transform: translate(-50%, -50%);
}
#img1{
    transform: translate(-50%, -50%) rotate(-40deg);
}
#img2{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img4{
    transform: translate(-50%, -50%) rotate(-10deg);
}
#btm-left{
    position:absolute;
    bottom: 5%;
    left: 5%;
    font-size: 17px;
}
#btm-right{
    position:absolute;
    bottom: 5%;
    left: 85%;
    font-size: 17px;
}
.ri-instagram-line{
    position:absolute;
    bottom: 8%;
    left: 86%;
}
.ri-youtube-line{
    position:absolute;
    bottom: 8%;
    left: 88%;
}
.ri-facebook-box-line{
    position:absolute;
    bottom: 8%;
    left: 90%;
}
.ri-arrow-down-line{
    position:absolute;
    bottom: 0%;
    left: 50%;
    font-size: 30px;
    font-weight: 100;
    border: 1.5px solid black;
    border-radius: 50px;
}